.game-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8.75rem;
  height: 8.75rem;
  background-color: #1f3641;
  box-shadow: 0 8px 0 #10212a;
  border-radius: 15px;
}

.game-tile > div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
}

.svgContainer {
  height: 100%;
  width: 100%;
  /* border: 2px solid red; */
  cursor: pointer;
}

@keyframes pulse {
  0% {background-color: red;}
  25% {background-color: blue;}
  50% {background-color: green;}
  100% {background-color: yellow;}
}

@keyframes orbulate {
  50% {transform: scale(0.75)}
  100%{transform: scale(1)}
}



